---
// src/pages/index.astro
---

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Particles Text Landing</title>
		<style>
			html,
			body {
				margin: 0;
				padding: 0;
				overflow: hidden;
				background: black;
				height: 100%;
				width: 100%;
			}
			#three-container {
				width: 100%;
				height: 100vh;
			}
		</style>
	</head>
	<body>
		<div id="three-container"></div>
		<script type="module" src="/particles-text.js"></script>
	</body>
</html>
